# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[alias]
        co = checkout
        promote = !$DOT/bin/git-promote
        wtf     = !$DOT/bin/git-wtf
	changed-files = !$DOT/bin/git-changed-files
        rank-contributors = !$DOT/bin/git-rank-contributors
        count   = !git shortlog -sn
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]
	# See which commits are on the remote that aren’t on your local branch
	upstream = "! git fetch && git log --oneline --no-merges ..origin/$(git rev-parse --abbrev-ref HEAD)"
	# Show detailed logs
	graph = log --graph --decorate --stat --date=iso --all
	# See which commits are on your local branch that aren’t on the remote
	local = "! git log --oneline --no-merges origin/$(git rev-parse --abbrev-ref HEAD).."
	# Set upstream tracking much faster
	publish = "! git push -u origin $(git rev-parse --abbrev-ref HEAD)"
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
